<tr data-id="{{id}}" data-request="{{requestId}}">
    <td class="date-cell">{{date}}</td>
    <td class="request-id-cell">
        <span class="request-id-badge">{{requestBadge}}</span>
    </td>
    <td class="categories-cell">{{categories}}</td>
    <td class="recipients-cell">{{supplierName}}</td>
    <td class="status-cell">
        <span class="status-badge status-{{status}}">{{statusLabel}}</span>
        {{#if price}}
            <span class="response-price">{{price}} {{unit}}</span>
        {{/if}}
    </td>
    <td class="actions-cell">
        {{!-- Actions populated by JS based on status --}}
        {{> @partial-block }}
    </td>
</tr>
