<div class="permissions-matrix{{#if readonly}} readonly{{/if}}">
    <table class="permissions-table">
        <thead>
            <tr>
                <th class="permissions-header-action" data-i18n="permissions.action">Action</th>
                {{#each roles}}
                <th class="permissions-header-role" data-i18n="role.{{this}}">{{this}}</th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#each permissions}}
            <tr class="permissions-row" data-action="{{@key}}">
                <td class="permissions-action-name" data-i18n="permission.{{@key}}">{{@key}}</td>
                {{#each ../roles}}
                <td class="permissions-cell">
                    <label class="permissions-checkbox">
                        <input type="checkbox" 
                            data-action="{{@../key}}" 
                            data-role="{{this}}" 
                            {{#if (lookup @../../permissions.[@../key] this)}}checked{{/if}}
                            {{#if @../../readonly}}disabled{{/if}}>
                        <span class="checkbox-custom"></span>
                    </label>
                </td>
                {{/each}}
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
