<div class="field-library-item" data-field-id="{{fieldId}}" data-field-type="{{type}}"{{#if draggable}} draggable="true"{{/if}}>
    <div class="field-item-drag-handle">
        {{> icon name="menu-bars" width="14" height="14"}}
    </div>
    <div class="field-item-icon field-icon-{{type}}">
        {{> icon name="grid-products" width="16" height="16"}}
    </div>
    <div class="field-item-info">
        <span class="field-item-name" data-i18n="{{nameKey}}">{{name}}</span>
        <span class="field-item-type" data-i18n="field.type_{{type}}">{{type}}</span>
    </div>
    {{#if usageCount}}
    <div class="field-item-badge" data-i18n-title="field.used_in_sections" title="Used in {{usageCount}} sections">{{usageCount}}</div>
    {{/if}}
    <div class="field-item-actions">
        <button class="field-action-btn field-hide-btn{{#if hiddenRequired}} disabled{{/if}}" onclick="{{#unless hiddenRequired}}toggleFieldVisibility('{{fieldId}}'){{else}}return false{{/unless}}" data-i18n-title="btn.hide_field" title="Hide Field"{{#if hiddenRequired}} disabled{{/if}}>
            {{> icon name="eye-off" width="12" height="12"}}
        </button>
        <button class="field-action-btn field-delete-btn{{#unless deletable}} disabled{{/unless}}" onclick="{{#if deletable}}deleteField('{{fieldId}}'){{else}}return false{{/if}}" data-i18n-title="btn.delete_field" title="Delete Field"{{#unless deletable}} disabled{{/unless}}>
            {{> icon name="x-close" width="12" height="12"}}
        </button>
    </div>
</div>
