<div class="kanban-card" data-id="{{id}}" draggable="true">
    <div class="kanban-card-header">
        <a href="card.html?id={{id}}" class="kanban-card-title">{{companyName}}</a>
        {{#if hasDeficit}}
        <span class="deficit-indicator"></span>
        {{/if}}
    </div>
    <div class="kanban-card-body">
        <div class="kanban-card-rating">
            {{> rating-stars active=rating}}
        </div>
        <div class="kanban-card-tags">
            {{#each categories}}
            {{> tag label=this}}
            {{/each}}
        </div>
        <div class="kanban-card-meta">
            <span class="lead-time">{{leadTime}} <span data-i18n="suppliers.days">days</span></span>
        </div>
    </div>
    <div class="kanban-card-footer">
        <a href="bcc-request.html?supplier={{id}}" class="kanban-card-action">
            {{> icon name="email" width="14" height="14"}}
        </a>
    </div>
</div>
