<div class="modal-overlay{{#if isOpen}} active{{/if}}" id="{{id}}-overlay" data-modal="{{id}}">
    <div class="modal{{#if size}} modal-{{size}}{{/if}}" id="{{id}}">
        <div class="modal-header">
            <h3 class="modal-title" data-i18n="{{titleKey}}">{{title}}</h3>
            <button type="button" class="modal-close-btn" data-action="close-modal">
                {{> icon name="close" width="14" height="14"}}
            </button>
        </div>
        <div class="modal-body">
            {{> @partial-block }}
        </div>
        {{#if hasFooter}}
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-action="cancel" data-i18n="{{cancelLabelKey}}">{{cancelLabel}}</button>
            <button type="button" class="btn btn-{{#if danger}}danger{{else}}primary{{/if}}" data-action="save" data-i18n="{{saveLabelKey}}">{{saveLabel}}</button>
        </div>
        {{/if}}
    </div>
</div>
