<div class="price-input-wrap price-input-sm" id="{{id}}">
    <input type="number" class="glass-input price-value" value="{{value}}" placeholder="{{placeholder}}" step="0.01" min="0">
    <div class="price-unit-select">
        {{#> custom-select-sm id=(concat id "-unit") fieldId=(concat id "-unit-field") defaultValue=unit}}
            <div class="select-option" data-value="kg">kg</div>
            <div class="select-option" data-value="m">m</div>
            <div class="select-option" data-value="piece">piece</div>
            <div class="select-option" data-value="ton">ton</div>
        {{/custom-select-sm}}
    </div>
</div>
