<tr class="permissions-table-row {{#if isField}}permissions-field-row{{else}}permissions-section-row{{/if}}" data-item-id="{{itemId}}" data-item-type="{{#if isField}}field{{else}}section{{/if}}">
    <td class="permissions-cell-name">
        {{#if isField}}
            <span class="permissions-field-indent"></span>
        {{/if}}
        <span class="permissions-item-name" data-i18n="{{nameKey}}">{{name}}</span>
        {{#if isField}}
            <span class="permissions-override-badge" style="display: none;" data-i18n="permission.override">Override</span>
        {{/if}}
    </td>
    <td class="permissions-cell-type">
        <span class="permissions-type-badge">{{#if isField}}field{{else}}section{{/if}}</span>
    </td>
    <td class="permissions-cell-role" data-role="admin">
        <div class="permissions-role-cell">
            <div class="permissions-actions-row">
                <label class="permissions-checkbox" title="Read">
                    <input type="checkbox" data-action="read" data-role="admin" {{#if permissions.admin.read}}checked{{/if}}>
                    <span class="checkbox-custom"></span>
                </label>
                <label class="permissions-checkbox" title="Edit">
                    <input type="checkbox" data-action="edit" data-role="admin" {{#if permissions.admin.edit}}checked{{/if}}>
                    <span class="checkbox-custom"></span>
                </label>
                <label class="permissions-checkbox" title="Create">
                    <input type="checkbox" data-action="create" data-role="admin" {{#if permissions.admin.create}}checked{{/if}}>
                    <span class="checkbox-custom"></span>
                </label>
                <label class="permissions-checkbox" title="Delete">
                    <input type="checkbox" data-action="delete" data-role="admin" {{#if permissions.admin.delete}}checked{{/if}}>
                    <span class="checkbox-custom"></span>
                </label>
            </div>
            <button class="permissions-expand-btn" data-role="admin" title="Expand users">
                {{> icon name="chevron-down" width="10" height="10"}}
            </button>
        </div>
    </td>
    <td class="permissions-cell-role" data-role="sales">
        <div class="permissions-role-cell">
            <div class="permissions-actions-row">
                <label class="permissions-checkbox" title="Read">
                    <input type="checkbox" data-action="read" data-role="sales" {{#if permissions.sales.read}}checked{{/if}}>
                    <span class="checkbox-custom"></span>
                </label>
                <label class="permissions-checkbox" title="Edit">
                    <input type="checkbox" data-action="edit" data-role="sales" {{#if permissions.sales.edit}}checked{{/if}}>
                    <span class="checkbox-custom"></span>
                </label>
                <label class="permissions-checkbox" title="Create">
                    <input type="checkbox" data-action="create" data-role="sales" {{#if permissions.sales.create}}checked{{/if}}>
                    <span class="checkbox-custom"></span>
                </label>
                <label class="permissions-checkbox" title="Delete">
                    <input type="checkbox" data-action="delete" data-role="sales" {{#if permissions.sales.delete}}checked{{/if}}>
                    <span class="checkbox-custom"></span>
                </label>
            </div>
            <button class="permissions-expand-btn" data-role="sales" title="Expand users">
                {{> icon name="chevron-down" width="10" height="10"}}
            </button>
        </div>
    </td>
    <td class="permissions-cell-role" data-role="warehouse">
        <div class="permissions-role-cell">
            <div class="permissions-actions-row">
                <label class="permissions-checkbox" title="Read">
                    <input type="checkbox" data-action="read" data-role="warehouse" {{#if permissions.warehouse.read}}checked{{/if}}>
                    <span class="checkbox-custom"></span>
                </label>
                <label class="permissions-checkbox" title="Edit">
                    <input type="checkbox" data-action="edit" data-role="warehouse" {{#if permissions.warehouse.edit}}checked{{/if}}>
                    <span class="checkbox-custom"></span>
                </label>
                <label class="permissions-checkbox" title="Create">
                    <input type="checkbox" data-action="create" data-role="warehouse" {{#if permissions.warehouse.create}}checked{{/if}}>
                    <span class="checkbox-custom"></span>
                </label>
                <label class="permissions-checkbox" title="Delete">
                    <input type="checkbox" data-action="delete" data-role="warehouse" {{#if permissions.warehouse.delete}}checked{{/if}}>
                    <span class="checkbox-custom"></span>
                </label>
            </div>
            <button class="permissions-expand-btn" data-role="warehouse" title="Expand users">
                {{> icon name="chevron-down" width="10" height="10"}}
            </button>
        </div>
    </td>
    <td class="permissions-cell-role" data-role="accounting">
        <div class="permissions-role-cell">
            <div class="permissions-actions-row">
                <label class="permissions-checkbox" title="Read">
                    <input type="checkbox" data-action="read" data-role="accounting" {{#if permissions.accounting.read}}checked{{/if}}>
                    <span class="checkbox-custom"></span>
                </label>
                <label class="permissions-checkbox" title="Edit">
                    <input type="checkbox" data-action="edit" data-role="accounting" {{#if permissions.accounting.edit}}checked{{/if}}>
                    <span class="checkbox-custom"></span>
                </label>
                <label class="permissions-checkbox" title="Create">
                    <input type="checkbox" data-action="create" data-role="accounting" {{#if permissions.accounting.create}}checked{{/if}}>
                    <span class="checkbox-custom"></span>
                </label>
                <label class="permissions-checkbox" title="Delete">
                    <input type="checkbox" data-action="delete" data-role="accounting" {{#if permissions.accounting.delete}}checked{{/if}}>
                    <span class="checkbox-custom"></span>
                </label>
            </div>
            <button class="permissions-expand-btn" data-role="accounting" title="Expand users">
                {{> icon name="chevron-down" width="10" height="10"}}
            </button>
        </div>
    </td>
</tr>
